<head><style>body {background-image: url("static/germany.jpg")}</style></head>

<title>DeutschFlashCards</title>

<div class="flex-container">
    <form class="flex-container" action="/type" method="POST">
        <button type="submit" name="word_type" value='verb'>Verb Game</button>
        <button type="submit" name="word_type" value='noun'>Noun Game</button>
        <button type="submit" name="word_type" value='other'>Other Game</button>
        <a href="/">Change Level</a>
    </form>

</div>
